<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/common-vendor.b8ecfc406ac0b5f77a26.css">
    <link rel="stylesheet" type="text/css" href="/css/fretboard.f32f2a8d5293869f0195.css">
    <link rel="stylesheet" type="text/css" href="/css/pretty.0ae3265014f89d9850bf.css">
    <link rel="stylesheet" type="text/css" href="/css/pretty-vendor.83ac49e057c3eac4fce3.css">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/misc.css">
    <title> {{ .Site.Title }} </title>

    <style>
    @media (prefers-color-scheme: dark) {
        body {
            background-color: #1c1c1c;
            color: white;
        }
        .markdown-body table tr {
            background-color: #1c1c1c;
        }
        .markdown-body table tr:nth-child(2n) {
            background-color: black;
        }
    }
    </style>
</head>